*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    margin-top: 10px;
    gap: 10px
    /* justify-content: space-between; */
    

}
.container div{
    /* height: 500px; */
    /* width: 200px; */
    color: red;
    border: 2px solid black;
    /* justify-content: space-between; */
}
.box{
    flex: 1;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    /* padding: 10px; */
    /* gap: 20px; */

}
.child1{
    background-color: red;
}
.child2{
    background-color: aqua;
}
.child3{
    background-color: blue;
}